<div class="alert alert-success mt-4 mb-4" role="alert">
  <h4>
    Hola! 
    <span *ngIf="usuario.signUpWithGoogle">{{ usuario.email }}</span>
    <span *ngIf="!usuario.signUpWithGoogle">{{ usuario.username }}</span>
  </h4>
</div>

<div class="card">
  <div class="card-header bg-dark text-white">
    Seleccione El Horario Deseado
  </div>

  <!-- Spinner -->
  <div class="spinner" *ngIf="cargando">
    <fa-icon [icon]="faSpinner" [spin]="true" size="5x" class="text-primary"></fa-icon>
  </div>
  <!-- /Spinner -->

  <!-- Card Body -->
  <div class="card-body" [hidden]="cargando">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody class="bg-info text-white">
          <tr>
            <td
              *ngFor="let horario of horarios | slice: 0:5"
              (click)="seleccionarHorario(horario)"
              [class]="
                horario.seleccionado
                  ? 'bg-success'
                  : horario.contadorReservaciones === 8
                  ? 'bg-danger cursor-normal'
                  : ''
              "
            >
              Hora: {{ horario.hora }} <br />
              Reservaciones:
              <span *ngIf="!horario.actualizando">{{ horario.contadorReservaciones }}</span>
              <span *ngIf="horario.actualizando">Procesando ...</span>
            </td>
          </tr>

          <tr>
            <td
              *ngFor="let horario of horarios | slice: 5:10"
              (click)="seleccionarHorario(horario)"
              [class]="
                horario.seleccionado
                  ? 'bg-success'
                  : horario.contadorReservaciones === 8
                  ? 'bg-danger cursor-normal'
                  : ''
              "
            >
              Hora: {{ horario.hora }} <br />
              Reservaciones:
              <span *ngIf="!horario.actualizando">{{ horario.contadorReservaciones }}</span>
              <span *ngIf="horario.actualizando">Procesando ...</span>
            </td>
          </tr>

          <tr>
            <td
              *ngFor="let horario of horarios | slice: 10:15"
              (click)="seleccionarHorario(horario)"
              [class]="
                horario.seleccionado
                  ? 'bg-success'
                  : horario.contadorReservaciones === 8
                  ? 'bg-danger cursor-normal'
                  : ''
              "
            >
              Hora: {{ horario.hora }} <br />
              Reservaciones:
              <span *ngIf="!horario.actualizando">{{ horario.contadorReservaciones }}</span>
              <span *ngIf="horario.actualizando">Procesando ...</span>
            </td>
          </tr>

          <tr>
            <td
              *ngFor="let horario of horarios | slice: 15:20"
              (click)="seleccionarHorario(horario)"
              [class]="
                horario.seleccionado
                  ? 'bg-success'
                  : horario.contadorReservaciones === 8
                  ? 'bg-danger cursor-normal'
                  : ''
              "
            >
              Hora: {{ horario.hora }} <br />
              Reservaciones:
              <span *ngIf="!horario.actualizando">{{ horario.contadorReservaciones }}</span>
              <span *ngIf="horario.actualizando">Procesando ...</span>
            </td>
          </tr>

          <tr>
            <td
              *ngFor="let horario of horarios | slice: 20:25"
              (click)="seleccionarHorario(horario)"
              [class]="
                horario.seleccionado
                  ? 'bg-success'
                  : horario.contadorReservaciones === 8
                  ? 'bg-danger cursor-normal'
                  : ''
              "
            >
              Hora: {{ horario.hora }} <br />
              Reservaciones:
              <span *ngIf="!horario.actualizando">{{ horario.contadorReservaciones }}</span>
              <span *ngIf="horario.actualizando">Procesando ...</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Card Body -->
</div>
