/* You can add global styles to this file, and also import other style files */

.puntero {
  cursor: pointer;
}

.spinner {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
